.main-color,
div.news div.slider-news .slick-prev,
div.news div.slider-news .slick-next,
.universal-head-arrows .slick-prev,
.universal-head-arrows .slick-next {
  background-color: #e59a05;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
.secondary {
  background-color: rgba(241,241,241,0.7);
  color: #555555;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
nav.main-menu > li > a,
header div.wrap-main-menu a.ic-main-menu-burger {
  background-color: transparent;
}
div.block.small-block div.slider-gallery .slick-prev,
div.block.small-block div.slider-gallery .slick-next,
div.descriptive div.descriptive-tabs-wrap ul.tabs li.active,
div.opinion.slider-small div.slider-mini .slick-prev,
div.opinion.slider-small div.slider-mini .slick-next,
div.wrapper-delay-compare-icons div.icon.active {
  background-color: #e59a05;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
nav.main-menu > li.selected > a > span.wrap-name div.bord,
div.cart-info-block div.wrapper-sku-props ul.sku-props li.detail-text.active,
div.catalog-list div.item div.wrapper-sku-props ul.sku-props li.detail-text.active,
div.switch-toogle.active div.btn-toogle {
  background-color: #e59a05;
}
.bx-pagination .bx-pagination-container ul li.bx-active span {
  background: #e59a05;
}
@media (max-width: 767px) {
  .open-cart-mob.no-empty,
  header.top.on.fixed .open-cart-mob.no-empty div.bg-color {
    background-color: #e59a05;
  }
}
div.switcher ul.switcher-tab li.active,
div.slider-advantages .slick-dots li.slick-active {
  background: #e59a05;
}
div.info-num div.info-num-element.dark div.title,
div.info-num div.info-num-element div.title,
.bx-filter .bx-filter-parameters-box-title i.hint-filter,
div.cart-info-block div.wrapper-sku-props div.wrapper-title div.desc-title i.hint-sku,
div.cart-char table.cart-char-table td.left i.hint-prop {
  color: #e59a05;
}
div.slider-gallery .slick-dots li.slick-active,
div.opinion.slider-small div.slider-mini .slick-dots li.slick-active,
div.block-slider .slick-dots li.slick-active,
div.cart-info-block div.wrapper-title div.ic-hint,
.open-cart-menu.no-empty div.count,
.universal-arrows-mini .arrow-prev,
.universal-arrows-mini .arrow-next,
div.search-body div.sections-main div.section-box-wrap.found table.section-box td.pic,
div.menu-banners .slick-dots li.slick-active,
div.catalog-block div.catalog-tab-element.active div.name-wrap div.line,
.open-cart.no-empty,
div.basket-quantity-info-icon.active span.count,
form.fix-header.focus div.search-panel-fix-header button.search-btn-style,
div.basket-style div.tab_item.active table div.round,
.bx-filter .bx-ui-slider-pricebar-v,
.slider-dots-style .slick-dots li.slick-active,
div.slider_catalog_big_items .slick-prev,
div.slider_catalog_big_items .slick-next,
.mobile-menu .count-basket-items-parent.active span.count-basket {
  background-color: #e59a05;
}
div.menu-navigation ul.nav>li a.active {
  border-left-color: #e59a05;
}
div.cart-info-block div.tabs-pic div.mini-pic.active table td div.pic-border,
form.fix-header.focus div.wrapper-border,
div.search-body div.sections-main div.section-box-wrap.found table.section-box td.pic {
  border-color: #e59a05;
}
.wrapper-cart div.open-cart.no-empty .before_pulse,
.wrapper-cart div.open-cart.no-empty .after_pulse {
  border: 1px solid #e59a05;
}
a.callphone {
  background-color: #c77c00;
}
div.catalog-filter ul.side-tabs > li.active {
  border-bottom-color: #e59a05;
}
div.cart-info-block div.wrapper-controls div.small-picture.active,
div.cart-info-block div.wrapper-controls div.small-picture:hover,
div.popup-slider div.controls-pictures div.small-picture.active,
div.popup-slider div.controls-pictures div.small-picture:hover {
  border-color: #e59a05;
}
div.catalog-labels ul.side-tabs > li.active {
  border-bottom: 2px solid #e59a05;
}
@media (min-width: 1200px) {
  .secondary:hover {
    background-color: #e59a05;
  }
  a.main-color:hover,
  button.main-color:hover,
  input.main-color:hover,
  div.block.small-block div.slider-gallery .slick-prev:hover,
  div.block.small-block div.slider-gallery .slick-next:hover,
  div.news div.slider-news .slick-prev:hover,
  div.news div.slider-news .slick-next:hover,
  div.opinion.slider-small div.slider-mini .slick-prev:hover,
  div.opinion.slider-small div.slider-mini .slick-next:hover,
  .universal-arrows-mini .arrow-prev:hover,
  .universal-arrows-mini .arrow-next:hover,
  div.wrapper-delay-compare-icons div.icon.active:hover,
  div.cart-info-block div.wrapper-title div.ic-hint:hover,
  .main-color-with-hover:hover,
  div.catalog-list-wrap div.section-with-hidden-items div.btn-click.noactive:hover,
  div.basket-quantity-info-icon.active:hover span.count,
  div.slider_catalog_big_items .slick-prev:not(.slick-disabled):hover,
  div.slider_catalog_big_items .slick-next:not(.slick-disabled):hover {
    background-color: #c77c00;
  }
  div.gallery-block div.gallery-img:hover div.corner-line,
  .button-second:hover {
    border-color: #e59a05;
  }
  nav.main-menu > li:hover > a > span.wrap-name div.bord,
  .wrapper-cart div.cart-inner div.body div.left-p div.buttons td.left a.secondary:hover {
    background-color: #e59a05;
  }
  nav.main-menu > li.parent:hover > a > span.wrap-name div.bord {
    background-color: transparent;
  }
  nav.main-menu > li.parent > ul > li:hover > a > div,
  nav.main-menu > li.parent > ul > li.selected> a > div,
  nav.main-menu > li.parent > ul > li.parent2 > ul > li:hover > a > div,
  nav.main-menu > li.parent > ul > li.parent2 > ul > li.selected > a > div,
  header.tone-dark div.wrap-main-menu nav.main-menu > li.parent:hover > a,
  .button-second:hover,
  div.catalog-list-wrap div.section-with-hidden-items div.btn-click.noactive {
    background-color: #e59a05;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }
  header.tone-light div.wrap-main-menu nav.main-menu > li.parent:hover > a {
    background-color: #eee;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }
  .open-cart-menu.no-empty:hover div.count {
    background-color: #c77c00;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  div.catalog-list-wrap div.section-with-hidden-items div.btn-click.noactive {
    background-color: #e59a05;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
  }
  div.wrapper-head-top div.wrapper-item div.wrapper-cabinet a:not(.show-phx-modal-dialog) table.cabinet td.picture div.def-picture {
    border-color: #e59a05;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  div.wrapper-head-top div.wrapper-item div.wrapper-cabinet a:not(.show-phx-modal-dialog) table.cabinet td.picture div.def-picture {
    border-color: #e59a05;
  }
}
